{% extends 'base.html' %}

{% block content %}

   {% for product in products %}
<div class="container">
  <div class="box">
      <span></span>
    <div class="content">
      {% if product.promotion %}
      <h2 style="color:#FF0000;font-size:250%;text-shadow:3px 2px 6px black;">{{ product.name }}</h2>
        {% else %}
        <h2>{{ product.name }}</h2>
        {% endif %}
      <img alt="{{ product.name }}" src="{{ product.thumbnail.url }}" style="max-width:200px;">
      <p id="desc-index">{{ product.description }}</p>
      <a href="{% url 'product' product.slug  %}">Voir L'Article</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}